@model CarPartsAccounting.Models.clients

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Клиенты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя клиента
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_name)
        </dd>
        <dt>
            Скидка
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sale_id)
        </dd>
        <dt>
            Номер телефона
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
