@model IEnumerable<CarPartsAccounting.Models.accounting>

@{
    ViewBag.Title = "Учет";
}

<h2>Учет</h2>

<a type="button" style="margin: 0px 0px 20px;" href="@Url.Action("Create", "accountings")" class="btn btn-info">Добавить</a>

<table class="table table-striped">
    <tr>
        <th>
            Идентификатор продажи
        </th>
        <th>
            Клиент
        </th>
        <th>
            Дата
        </th>
        <th>
            Скидка
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clients.client_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clients.sales.sale_percent)%
            </td>
            <td>
                <a type="button" href="@Url.Action("Index", "sold_parts", new { id = item.id })" class="btn btn-info">
                    <span>Список деталей</span>
                </a>
                <a type="button" href="@Url.Action("Edit", new { id = item.id })" class="btn btn-info">
                    <span>Редактировать</span>
                </a>
                <a type="button" href="@Url.Action("Delete", new { id = item.id })" class="btn btn-danger">
                    <span>Удалить</span>
                </a>
            </td>
        </tr>
    }

</table>
